# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
env/
venv/
.venv/
ENV/

# FastAPI / app
*.log

# Secrets
.env
.env.local

# IDEs / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
desktop.ini

# Project-specific
blog/models
